html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img{
  object-fit: cover;
  object-position: 0 30%;
}

.font-text{
  font-size: 2rem;
  font-weight: 350;
  color: black;
  font-family: italic small-caps bold 12px/30px Georgia, serif,
}

.font-text-global{
  font-size: 1rem;
  font-weight: 350;
  color: black;
  font-family: italic small-caps bold 12px/30px Georgia, serif,
}

.line-hight{
  border-bottom: 1px solid rgb(219, 219, 219);
  width: 100%;
}

.select {
  background-color: rgb(255, 255, 255);
  border-color: #fff transparent transparent transparent;
  width: 12rem;
}

.li-mr {
  margin: 0px 20px 0px 16px
}

hr.fancy-line { 
  border: 0; 
  height: 1px;
  position: relative;
  margin: 0.5em 0; /* Keep other elements away from pseudo elements*/
}
hr.fancy-line:before {
  top: -0.5em;
  height: 1em;
}
hr.fancy-line:after {
  content:'';
  height: 0.5em;   /* half the height of :before */
  top: 1px;        /* height of hr*/
}

hr.fancy-line:before, hr.fancy-line:after {
  content: '';
  position: absolute;
  width: 100%;
}

hr.fancy-line, hr.fancy-line:before {
  background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 75%);
  background: -webkit-gradient(radial, center center, 0px, center center, 75%, color-stop(0%,rgba(0,0,0,0.1)), color-stop(75%,rgba(0,0,0,0)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
  background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
  background: radial-gradient(ellipse at center, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
}

div.online-indicator {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #0fadcc;
  border-radius: 50%;
  position: absolute;
  bottom: 2px;
  right: -10px;
}

span.blink {
  display: block;
  width: 30px;
  height: 30px;

  background-color: #0fadcc;
  opacity: 0.7;
  border-radius: 50%;

  animation: blink 1s linear infinite;
}

@keyframes blink {
  100% { transform: scale(2, 2); 
          opacity: 0;
        }
}

.avatar__letters {
  /* Center the content */
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.avatars {
  margin: 0 20px;
  /* Center the content */
  display: inline-block;
  vertical-align: middle;
  /* Used to position the content */
  position: relative;
  /* Colors */
  /* background: lightblue; */
  color: #fff;
  /* Rounded border */
  border-radius: 50%;
  height: 48px;
  width: 48px;
}

body, hr.fancy-line:after {
  background: #f4f4f4;
}
/* ----------- Loading ------------- */
@import url("./loading.css");

/* ----------- Products ------------- */
@import url("./product.css");

/* ----------- Profile ------------- */
@import url("./profile.css");

/* ----------- Products Manager ------------- */
@import url("./products_manager.css");

@import "~react-image-gallery/styles/css/image-gallery.css";

@import url(https://fonts.googleapis.com/css?family=Inconsolata);

body {
  font-family: 'Inconsolata', san-srif ;
}

@-webkit-keyframes salePulse {
from { background-color: #a00; }
50% { background-color: #c00; -webkit-transform:scale(1.1); }
to { background-color: #a00; }
}

mark.sale {
background:#c00; /* fallback for non-webkit browsers */
display:block; /* or it wont work */
width:80px;
text-align:center;
line-height:3em;
border-radius:3em;
color:#fff;
font-weight:bold;
-webkit-animation-name:salePulse;
-webkit-animation-duration:1s;
-webkit-animation-iteration-count:infinite;
margin: 0 auto;
}

.line {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  margin-bottom: 40px;
text-decoration: solid;
}

.line:before,
.line:after {
  content: "";
  border-bottom: 2px solid #000;
  margin: auto;
  position: relative;
  display: inline-block;
  height: 1px;
  flex: 1 1;
}

